* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

:root {
    --orange: #fa0;
    --lightBlue: #e8e8f7;
    --pageIndent: 60px;
}
header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--orange);
}
header {
    padding: 10px var(--pageIndent);
    border-bottom: 3px solid #fff;
}
footer {
    padding: 40px var(--pageIndent);
}

header img {
    height: 80px;
}
nav a {
    text-decoration: none;
    color: #222;
}
header nav a {
    margin: 0 15px;
    font-size: 16px;
}
footer nav a {
    margin: 0 10px;
    font-size: 14px;
}

div.imgHeader {
    height: 430px;
    position: relative;
    display: flex;
    justify-content: center;
}
div.homePage {
    background: var(--lightBlue) url(../images/hero-image.jpg) top center;
    background-size: cover;
}
div.recipePage {
    background: var(--lightBlue) url(../images/burger.jpg) center center;
    background-size: cover;
}

h1 {
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    bottom: 50px;
    font-size: 36px;
    background: #fff;
    padding: 10px 20px;
}

section {padding: 20px var(--pageIndent);}
section:nth-child(even) {background: var(--lightBlue);}
h2 {margin-top: 15px;}
p {
    font-size: 18px;
    padding: 15px 0;
}
div.imgSection {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 30px 0;
}
div.img {
    height: 225px;
    width: 300px;
}
/* Could be or should have a 7:10 ratio, but currently it might not be. */
div.imgText {
    padding: 15px;
    text-align: center;
    font-weight: bold;
    background: #fff;
}
#breakfastIdeas {
    background: var(--lightBlue) url(../images/breakfast-ideas.jpg) center center;
    background-size: cover;
}
#vegetarianIdeas {
    background: var(--lightBlue) url(../images/vegetarian-ideas.jpg) center center;
    background-size: cover;
}
#coldWeatherDinners {
    background: var(--lightBlue) url(../images/cold-weather-dinners.jpeg) center center;
    background-size: cover;
}
#fajitaPeppers {
    background: var(--lightBlue) url(../images/fajita-peppers.jpeg) center center;
    background-size: cover;
}
#muffins {
    background: var(--lightBlue) url(../images/muffins.jpeg) center center;
    background-size: cover;
}
#eggplantParmesan {
    background: var(--lightBlue) url(../images/eggplant-parmesan.jpg) center center;
    background-size: cover;
}
/*  */
#bengalBurger {
    background: var(--lightBlue) url(../images/bengal-burger.jpg) center center;
    background-size: cover;
}
#pizza {
    background: var(--lightBlue) url(../images/pizza.jpeg) center center;
    background-size: cover;
}
/*  */

div.borderedImgs div.img {
    border: 10px solid var(--lightBlue);
    /* size */
}