* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

:root {
    --orange: #f90;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--orange);
    padding: 10px 60px;
    border-bottom: 3px solid #fff;
}

header img {
    height: 80px;
}
nav a {
    text-decoration: none;
    color: #222;
    margin: 0 15px;
}

div.imgHeader {
    background: #ddd url(../images/hero-image.jpg) top center;
    background-size: cover;
    height: 620px;
}