* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    color: var(--black);
}
:root {
    --orange: #fa0;
    --gray: #dcdee0;
    --lightGray: #efefef;
    --pageIndent: 60px;
    --black: #2e2e2e;
}

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--orange);
}
header {
    padding: 10px var(--pageIndent);
}
footer {padding: 40px var(--pageIndent);}

header img {height: 80px;}
nav a {
    text-decoration: none;
    color: var(--black);
}
header nav a {
    margin: 0 15px;
    font-size: 16px;
}
footer nav a {
    margin: 0 10px;
    font-size: 14px;
}

div.imgHeader {
    height: 430px;
    position: relative;
    display: flex;
    justify-content: center;
}
div.homePage {
    background: var(--gray) url(../images/hero-image.jpg) top center;
    background-size: cover;
}
div.recipePage {
    background: var(--gray) url(../images/burger.jpg) center center;
    background-size: cover;
}

h1 {
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    bottom: 50px;
    font-size: 36px;
    background: #fff;
    padding: 10px 20px;
}

section {padding: 20px var(--pageIndent);}
.gray {background: var(--gray);}
h2 {margin-top: 15px;}
h4 {margin: 20px 0 0 0;}
p {
    font-size: 18px;
    padding: 15px 0;
}
div.imgSection {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 30px 0;
}
div.img {
    height: 225px;
    width: 300px;
}
/* Could be or should have a 7:10 ratio, but currently it might not be. */
div.imgText {
    padding: 15px;
    text-align: center;
    font-weight: bold;
    background: #fff;
}
#breakfastIdeas {
    background: var(--gray) url(../images/breakfast-ideas.jpg) center center;
    background-size: cover;
}
#vegetarianIdeas {
    background: var(--gray) url(../images/vegetarian-ideas.jpg) center center;
    background-size: cover;
}
#coldWeatherDinners {
    background: var(--gray) url(../images/cold-weather-dinners.jpeg) center center;
    background-size: cover;
}
#fajitaPeppers {
    background: var(--gray) url(../images/fajita-peppers.jpeg) center center;
    background-size: cover;
}
#muffins {
    background: var(--gray) url(../images/muffins.jpeg) center center;
    background-size: cover;
}
#eggplantParmesan {
    background: var(--gray) url(../images/eggplant-parmesan.jpg) center center;
    background-size: cover;
}
/*  */
#bengalBurger {
    background: var(--gray) url(../images/bengal-burger.jpg) center center;
    background-size: cover;
}
#pizza {
    background: var(--gray) url(../images/pizza.jpeg) center center;
    background-size: cover;
}
/*  */

div.borderedImgs div.img {
    border: 10px solid var(--gray);
    /* size */
}

div.cookingInfo {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
div.cookingInfo div {
    width: 28%;
    padding: 5px 0;
}

blockquote {
    margin: 0 var(--pageIndent);
    padding: 30px 10%;
    background: var(--lightGray);
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

.columnContainer {
    display: flex;
}

ul, ol {
    margin-left: 16px;
}

li {
    font-size: 15px;
}